body {
  padding: 50px 80px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  background-color: #1f1f2b;
}

#header {
  text-align: center;
}

#header h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.sketches {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ffffff;
}

.sketches > div {
  display: inline-block;
  margin: auto;
}

#rough-sketches {
  text-align: center;
}

#rough-sketches img {
  width: auto;
  max-height: 380px;
}

.clock {
  display: inline-block;
  min-width: 414px;
  min-height: 736px;
}

@media all and (max-width: 1110px)  {
  body {
    padding: 20px;
  }
  #header h1 {
    font-size: 3rem;
  }
  .sketches > div {
    width: 100%;
    display: block;
  }
  .desc {
    margin: auto;
  }
  .clock {
    text-align: center;
    margin: 20px 0;
  }
}
