body {
    padding: 50px;
}

.sketches {
  margin-top: 30px;
  padding-top: 30px;
  /* border-top: 1px solid #ffffff; */
}

#rough-sketches img {
  width: auto;
  max-height: 380px;
}

#mobile1,#mobile2 {
    width: 414px;
    height: 736px;
    border: 1px solid;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
}
