body {
  padding: 50px;
  font-family: 'Open Sans'
  /* background-color: #1b1b1b; */
}

.sketches {
  margin-top: 30px;
  padding-top: 30px;
  /* border-top: 1px solid #ffffff; */
}

#rough-sketches img {
  width: auto;
  max-height: 380px;
}

/* Style for first dashboard */

#mobile1 {
  width: 414px;
  height: 736px;
  border: #AAA 1px solid;
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background-color: #FFF;
}

#mobile1 h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
  /* color: #596275; */
}

#mobile1 h2 {
  text-align: center;
  font-size: 1rem;
  margin: 0;
  color: #596275;
}

/* Style for grid lines */
#mobile1 .grid line {
  stroke: #FFF;
  stroke-width: 3;
}

/* Style for x-axis */
#mobile1 .x-axis text {
  fill: #FFF;
}

/* Style for lines */
#mobile1 .line {
  fill: none;
  stroke: #7f8c8d;
  stroke-width: 1;
}

/* Style for dots */
#mobile1 .dot {
  stroke: none;
  fill: #596275;
}

#mobile1 .dot-low {
  fill: #54a0ff;
}

#mobile1 .dot-high {
  fill: #e15f5f;
}

/* Style for dot labels */
#mobile1 .dot-label {
  fill: #7f8c8d;
}

#mobile1 .dot-label-low {
  fill: #7f8c8d;
}

#mobile1 .dot-label-high {
  fill: #7f8c8d;
}

/* Style for first dashboard */

#mobile2 {
  width: 414px;
  height: 736px;
  border: #AAA 1px solid;
  float: left;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background-color: #FFF;
  overflow: hidden;
}

#mobile2 .header {
  position: absolute;
  top: 10px;
  height: 160px;
  text-align: center;
  color: #000;
}

#mobile2 .header > div {
  display: inline-block;
}

#mobile2 .header .first-row {
  border-bottom: #000 2px solid;
}

#mobile2 h1 {
  display: inline-block;
  margin: 20px 0;
}

#mobile2 h1.first-col {
  width: 100px;
  text-align: left;
  font-size: 1.2rem;
}

#mobile2 h1.second-col {
  width: 120px;
  text-align: right;
}

#mobile2 h1.third-col {
  width: 70px;
  text-align: right;
  font-size: 1.2rem;
}

#mobile2 h1.forth-col {
  text-align: right;
  width: 50px;
}

#mobile2 #boston-high {
  color: #e15f5f;
}

#mobile2 #boston-low {
  color: #54a0ff;
}

#mobile2 .header .third-row h1 {
  width: 340px;
  text-align: right;
  font-size: 1.2rem;
}

#mobile2 .map {
  position: relative;
  top: 30px;
}

#mobile2 .city-pin {
  stroke: none;
  fill: #000;
}

#mobile2 .city-arrow {
  stroke: #000;
  stroke-width: 2;
}

#mobile2 .city-name {
  fill: #000;
}

#mobile2 .city-high {
  fill: #e15f5f;
}

#mobile2 .city-low {
  fill: #54a0ff;
}
